@import "@/assets/scss/variables";

.content-wrap {
  width: 100%;
  @include resp-padding(70px 0 0, 70px 0 0, 40px 0 0);

  .box {
    margin-bottom: 40px;
  }

  .embed {
    iframe {
      width: 100% !important;
      height: auto !important;
      border: 0 !important;
      min-height: 400px;
    }
  }
}
