@import "@/assets/scss/variables";

.container {
  background-color: $color-white;

  .list-item {
    align-items: center;
    border-bottom: 1px solid $color-gray;
    .label {
      display: block;
      padding: 17px 4px;
      background-color: #c2edd9;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
    }
  }

  .footer-form {
    padding: 23px;

    :global {
      .ant-col {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        column-gap: 20px;
      }

      button {
        display: flex;
        width: 88px;
        padding: 5px 9px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 4px;
        border: 1px solid $color-sky;
        background: $color-white;
        box-shadow: 0px 1px 0px 0px rgba(21, 154, 201, 0.25);
        color: $color-sky;
        font-weight: 500;
        line-height: 22px; /* 157.143% */

        &:hover {
          filter: blur(.5px);
        }

        &.filled {
          background-color: $color-sky;
          color: $color-white !important;
        }
      }
    }
  }

  :global {
    .ant-select {
      width: 100%;
    }

    .ant-form-item {
      margin: 0;
    }

    .ant-divider {
      margin: 0;
      background-color: #c2edd9;
    }
  }
}
