// $color-primary: #f53838;
$color-primary: #0bc9bd;
$color-water: #d8f2f0;
$color-cultured: #f4f9f9;
$color-blond: #fff1c2;
$color-amber: #ffba53;
$color-pale-lavender: #d3daf5;
$color-black: #222;
$color-dark: #2b2e3a;
$color-gray: #c2c4ce;
$color-white: #fff;

@mixin resp-text($init: 16px, $md: 16px, $sm: 16px) {
  font-size: $init;

  @media only screen and (max-width: 992px) {
    font-size: $md;
  }
  @media only screen and (max-width: 768px) {
    font-size: $sm;
  }
}

@mixin resp-padding($init: 0, $md: 0, $sm: 0) {
  padding: $init;

  @media only screen and (max-width: 992px) {
    padding: $md;
  }
  @media only screen and (max-width: 768px) {
    padding: $sm;
  }
}

@mixin resp-margin($init: 0, $md: 0, $sm: 0) {
  margin: $init;

  @media only screen and (max-width: 992px) {
    margin: $md;
  }
  @media only screen and (max-width: 768px) {
    margin: $sm;
  }
}

@mixin resp-display($init: block, $md: block, $sm: block) {
  display: $init;

  @media only screen and (max-width: 992px) {
    display: $md;
  }
  @media only screen and (max-width: 768px) {
    display: $sm;
  }
}

@mixin resp-height($init: auto, $md: auto, $sm: auto) {
  height: $init;

  @media only screen and (max-width: 992px) {
    height: $md;
  }
  @media only screen and (max-width: 768px) {
    height: $sm;
  }
}

@mixin perfect-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin perfect-flex-center($direction: "row") {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
