@import "variables";

// Header
.ant-layout-header {
  height: 100px !important;
  filter: none;
  background-color: #fff !important;
  border-bottom: 1px solid #ddd !important;

  .ant-pro-top-nav-header-main {
    padding-inline-start: 30px;
  }

  .ant-pro-global-header-collapsed-button {
    margin: 0;
  }

  .ant-pro-global-header {
    justify-content: space-between;
    flex-direction: row-reverse;
    & > div {
      display: none;
    }
  }

  .ant-pro-top-nav-header-menu {
    padding: 0;
    ul {
      justify-content: flex-end;
      margin-right: 30px;
    }

    ul,
    div,
    .anticon-ellipsis {
      height: 100%;
    }
  }

  .ant-menu-submenu {
    .ant-pro-base-menu-horizontal-item-title {
      .ant-pro-base-menu-horizontal-item-text {
        a {
          color: $color-black;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }

    &.ant-menu-submenu-selected {
      a {
        color: $color-primary !important;
      }
    }

    &:hover {
      background-color: transparent !important;
      a {
        color: $color-primary !important;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    height: 60px !important;
  }

  @media screen and (max-width: 960px) {
    height: 60px !important;
  }
}

.ant-pro-sider-menu {
  .ant-menu-submenu-title,
  .ant-menu-item {
    a {
      color: $color-black;
      font-size: 14px;
      font-weight: 500;
    }

    &:hover {
      a {
        color: $color-primary;
      }
    }
  }

  & > .ant-menu-submenu-selected {
    & > .ant-menu-submenu-title {
      background-color: $color-primary !important;
      color: $color-white !important;

      a {
        color: $color-white !important;
      }
    }

    & > .ant-menu {
      .ant-menu-item-selected.ant-menu-item-only-child {
        background-color: $color-primary !important;
        color: $color-white !important;

        a {
          color: $color-white !important;
        }
      }
    }

    .ant-menu-submenu-selected {
      & > .ant-menu-submenu-title {
        background-color: $color-primary !important;
        color: $color-white !important;

        a {
          color: $color-white !important;
        }
      }

      .ant-menu-item-selected {
        background-color: $color-primary !important;
        color: $color-white !important;

        a {
          color: $color-white !important;
        }
      }
    }
  }
}

// Content
.ant-layout-content {
  margin-top: 0 !important;
  margin-top: calc(100px - 58px);
  // max-width: 1400px;
  margin-left: auto;
  min-height: 50vh;
  margin-right: auto;
  padding: 0 !important;
  background-color: #fff !important;
  // overflow: hidden;
}

.ant-menu-submenu.ant-menu-submenu-popup {
  // inset: 92px auto auto 208.422px !important;
  padding-top: 2px;
  .ant-menu.ant-menu-sub {
    a {
      color: $color-black;
    }

    .ant-menu-item-selected,
    .ant-menu-submenu-selected {
      color: $color-white;
      background-color: $color-primary;

      a,
      i {
        color: $color-white;
      }
    }
  }
}

.btn-link {
  display: block;
  margin: 40px auto;
  width: 260px;
  height: 60px;
  line-height: 60px;
  color: $color-white;
  background: $color-primary;
  @include resp-text(22px, 18px);
  text-align: center;
  border-radius: 50px;
  transition: all 0.2s ease;

  &:hover {
    color: $color-white;
  }
}

.btn-mint {
  background: linear-gradient(
    0deg,
    rgba(2, 180, 168, 1) 0%,
    rgba(11, 201, 189, 1) 100%
  );
  border: none;
  box-shadow: 0 10px 20px rgba(11, 201, 189, 0.2);

  &:hover {
    box-shadow:
      4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.1);
  }
}

.font-mint {
  color: $color-primary !important;
}

.bg-mint {
  background-color: $color-primary;
  color: $color-white !important;
}

.inner-text {
  @include resp-text(18px, 18px, 16px);
  line-height: 1.75;
  letter-spacing: -0.02em;
  color: #666;
  font-weight: normal;
  word-break: keep-all;
}

.text-underline {
  position: relative;
  display: inline-block;
  background: linear-gradient(180deg, transparent 79%, #ffda53 70%);
}

.w-full {
  width: 100% !important;
}

.pagination-wrap {
  text-align: right;
  margin: 20px 0;
}

.table-wrap {
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  margin-bottom: 60px;

  .responsive-tbl {
    border-collapse: separate;
    border-spacing: 0;
    @include resp-width(100%, 992px !important);

    th {
      background-color: #72d8d8;
      padding: 15px 0;
      border-right: 1px solid #56b8b8;
      border-bottom: 1px solid #56b8b8;
      font-weight: normal;

      &.first {
        background-color: #f4f5f9;
      }
    }

    td {
      background-color: #fff;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 5px;
      text-align: center;
      padding: 15px 0;

      &:first-child {
        background-color: #fedbdb;
        border-bottom: 1px solid #ecb0b0;
        position: -webkit-sticky;
        position: sticky;
        left: 0;
      }

      &.point {
        background-color: #e1f3f3;
      }
    }
  }

  .tbl-mint {
    td:first-child {
      background-color: #72d8d8;
      border-bottom: 1px solid #56b8b8;
      border-right: 1px solid #56b8b8;
    }
  }

  .tbl-pink {
    th {
      background-color: #fedbdb;
      border-right: 1px solid #ecb0b0;
      border-bottom: 1px solid #ecb0b0;
    }

    td:first-child {
      border-right: 1px solid #ecb0b0;
    }
  }
}

// Logo
.logo-wrap {
  display: inline-flex;
  justify-content: space-between;
  align-items: center !important;
  column-gap: 8px;
  row-gap: 8px;

  .logo {
    max-width: 209px;
    @include resp-height(60px, 60px, 55px);
    object-fit: contain;
  }

  .slogan-wrap {
    .slogan-head {
      @include resp-text(18px, 16px, 16px);
      margin-bottom: 8px;
      line-height: 1;
      color: #384487;
    }

    .slogan-bot {
      line-height: 1;
      text-align: center;
      justify-content: center;
      display: flex;
      column-gap: 3px;
      align-items: center;

      .slogan {
        @include resp-text(12px, 12px, 12px);
        color: #4ea885;
        line-height: 1;
      }

      .slogan-point {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        display: inline-block;
        background-color: #c95559;
      }
    }
  }
}
