@import "variables";
@import "customize";

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #0b132a;
  font-size: 16px;
  font-weight: 400;
  font-family: "Plus Jakarta Sans";
}

.logo {
  max-width: 209px;
  height: 60px !important;
  object-fit: contain;
}

.inner {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 992px) {
  .ant-col-lg-4\.8 {
    --ant-display: block;
    display: block;
    display: var(--ant-display);
    flex: 0 0 20%;
    max-width: 20%;
  }
}
