@import "@/assets/scss/variables";

.swiper-container {
  :global {
    .swiper-pagination {
      position: relative !important;
      border: 1px solid #ddd;
      display: flex;
      justify-content: center;
      background-color: #fff;

      .bullet {
        display: block;
        text-align: center;
        cursor: pointer;
        opacity: 1;
        width: 100%;
        height: 80px;
        font-size: 17px;
        line-height: 80px;
        letter-spacing: -0.4pt;
        position: relative;

        &.swiper-pagination-bullet-active::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $color-primary;
        }
      }
    }
  }
}
