@import "@/assets/scss/variables";

.main-content {
  margin: 80px 0;

  .top,
  .bottom {
    overflow: hidden;
    img {
      object-fit: cover;
      vertical-align: middle;
    }
  }

  .main {
    background: $color-blond url("@/assets/img/others/main_k_bg.png") center
      center no-repeat;
    background-size: contain;
    padding: 60px 0;

    .title-wrap {
      padding-bottom: 40px;

      .main-title {
        @include resp-text(45px, 30px, 28px);
        text-align: center;

        .title {
          @include resp-text(45px, 30px, 28px);
        }

        p,
        div {
          @include resp-text(22px, 18px, 18px);
          text-align: center;
          padding-top: 10px;
        }
      }
    }

    .card-info {
      margin-bottom: 40px;

      .box {
        ul {
          max-width: 1150px;
          margin: 0 auto;
          display: flex;
          list-style: none;
          gap: 60px;

          li {
            width: 33.3%;
            text-align: center;
            @include resp-text(22px, 18px);

            img {
              object-fit: contain;
              height: 120px;
            }
          }
        }
      }
    }

    .step-wrap {
      margin-bottom: 30px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: -40px;

        li {
          display: inline-block;
          width: calc(100% / 4 - 40px);
          margin: 10px 20px;
          text-align: center;
          vertical-align: top;
          position: relative;

          &:nth-child(4n) {
            margin-right: 0 !important;
          }

          .step {
            background: $color-white;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            width: 180px;
            height: 180px;
            margin: 0 auto;

            .step-inner {
              position: absolute;
              width: 100%;
              height: 100%;
              @include resp-text(18px, 18px, 14px);
              @include perfect-flex-center;

              .serial {
                display: none;
              }
            }

            &::after {
              content: "";
              display: block;
              padding-bottom: 100%;
            }
          }

          &::before {
            content: "";
            position: absolute;
            background: url("@/assets/img/others/step_arrow.png") center center
              no-repeat;
            width: 20px;
            height: 34px;
            top: 35%;
            margin-left: 55%;
            background-position: contain;
          }
        }
      }
    }

    .box {
      position: relative;
      overflow: hidden;
      background: $color-white;
      border-radius: 20px;
      @include resp-padding(45px, 45px 20px, 20px);
    }

    .banner {
      display: flex;
      margin-bottom: 40px;
      margin: 0 -20px;

      .box {
        width: calc(100% / 3 - 20px);
        margin: 0 20px;
        text-align: center;

        img {
          min-height: 200px;
          max-height: 240px;
          object-fit: contain;
        }

        h4 {
          @include resp-text(30px, 24px, 24px);
          position: relative;
          font-weight: bold;
          padding: 30px 0 15px 0;
          text-align: left;

          &:hover {
            color: $color-primary;

            &::after {
              margin-left: 20px;
            }
          }

          &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background: url("@/assets/img/others/ico_center_link.png");
            margin-left: 10px;
            margin-top: 5px;
            transition: all 0.2s ease;
          }
        }

        .banner-paragraph {
          font-size: 18px;
          color: #666;
          text-align: left;
          word-break: keep-all;
          margin: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .card-info {
      margin-bottom: 20px;

      img {
        height: 80px;
      }
    }

    .step-wrap {
      li {
        display: inline-block !important;
        width: calc(100% / 3 - 30px) !important;
        margin: 10px !important;

        &::before {
          margin-left: 53% !important;
        }
      }

      li:nth-child(3n) {
        margin-right: 0 !important;
      }
    }

    .banner {
      display: block !important;

      .box {
        margin-bottom: 20px !important;
        width: calc(100% - 40px) !important;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .step-wrap {
      .step {
        max-width: 130px;
        max-height: 130px;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media only screen and (max-width: 640px) {
    .step-wrap {
      ul {
        margin-left: 0 !important;

        li {
          display: inline-block !important;
          width: 100% !important;
          margin: 2px 0 !important;

          .step {
            width: 100% !important;
            height: auto !important;
            border-radius: 10px !important;
            max-width: 100% !important;
            max-height: 40px !important;

            .step-inner {
              word-break: keep-all !important;
              padding: 10px;
              justify-content: flex-start !important;
              text-align: left !important;

              .serial {
                @include perfect-flex-center;
                display: inline-flex !important;
                width: 20px;
                height: 20px;
                background-color: $color-amber;
                text-align: center;
                color: $color-white;
                font-weight: bold;
                margin-right: 10px;
                border-radius: 3px;
                padding-top: 2px;
              }
            }
          }

          &::before {
            display: none;
          }
        }
      }
    }
  }

  .bottom {
    transform: rotate(180deg);
  }
}
