@import "@/assets/scss/variables";

.card {
  @include resp-margin(0, 0 0 32px 0);
  height: 100%;

  .img {
    border: 1px solid #e9e9e9;
    text-align: center;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    img {
      max-width: 100%;
    }
  }

  h5.title {
    padding: 10px 35px;
    border-radius: 30px;
    text-align: center;
    display: block;
    color: #fff;
    width: 260px;
    margin: 30px auto;
    @include resp-text(26px, 24px, 20px);
    font-weight: bold;
  }

  h5.sub-title {
    @include resp-text(22px, 18px);
  }
}
