@import "@/assets/scss/variables";

.container {
  min-height: 500px;

  .title {
    color: $color-green;
    font-size: 28px;
  }
  .title-divider {
    width: 40px;
    height: 2px;
    background-color: $color-green;
  }

  .title-sub {
    font-size: 20px;
    color: $color-black;
    margin: 20px 0 10px;
  }
}