@import "@/assets/scss/_variables.scss";

.header-top {
  height: 40px;
  background-color: $color-primary;
  color: $color-white;
  @include responsive-content;

  .wrapper {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    .link-item {
      color: $color-white;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      padding: 5px 9px;

      &:hover {
        filter: blur(.5px);
      }
    }
  }
}