@import "@/assets/scss/variables";

.content-wrap {
  width: 100%;
  @include resp-padding(70px 0 50px 0, 70px 0 50px 0, 40px 0 20px 0);

  .header-wrap {
    .header-title {
      h2 {
        @include resp-text(40px, 30px !important);
        line-height: 1.5;
        padding-bottom: 20px;
        font-weight: normal;
      }

      .header-paragraph {
        line-height: 1.5;
        @include resp-text(18px, 18px, 16px);
      }
    }
  }

  .expectation-box {
    border: 1px solid $color-border;
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;

    .img {
      background: #e1ebf8;
      position: relative;
      text-align: center;
      overflow: hidden;
      @include resp-height(auto, 220px !important);

      img {
        width: 100%;
        @include resp-max-width(auto, 300px !important);
        margin: 0 auto;
      }
    }

    .expectation {
      @include resp-padding(70px, 30px 20px !important);

      h3 {
        @include resp-text(30px, 24px !important);
      }

      .description {
        font-size: 16px;
        margin-bottom: 16px;
        display: block;
      }
    }
  }
}
