@import "@/assets/scss/variables";

.sub-visual {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  height: 160px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  .title-wrap {
    max-width: 1240px;
    margin: 0 auto;
    display: table;

    .title-page {
      height: 160px;
      position: relative;
      padding: 50px 0;
      text-align: center;
      margin: 0 auto;
      z-index: 2;

      h1 {
        @include resp-text(45px, 30px, 28px);
        margin-bottom: 0;
      }
    }
  }
}
