.table {
  margin-top: 23px;

  table {
    tr td,
    tr th {
      border-bottom: 0.75px dotted #8c8c8c !important;
    }

    th {
      background-color: #c2edd9 !important;

      border-top: 2px #80c29a solid !important;
    }

    th,
    td {
      border-radius: 0 !important;
    }
  }
}
