@import "@/assets/scss/variables";

.container {
  position: relative;

  :global {
    h3 {
      line-height: 1.5 !important;
    }
  }

  .wrapper {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);

    .wrapper-caption {
      justify-content: center;
      align-items: center;
      height: 100%;
      @include responsive-content();

      h3,
      span {
        color: $color-white;
        text-align: justify;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }

      span {
        text-align: center;
        display: inline-flex;
        margin-bottom: 10px;
      }

      .button-group {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        button {
          border-radius: 5px;
          border: 1px solid #fff;
          background: rgba(255, 255, 255, 0.3);
          box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
          display: inline-flex;
          padding: 10px;
          align-items: center;
          justify-content: center;
          gap: 10px;
          
          span {
            font-size: 14px;
            text-shadow: none;
            margin: 0;
          }

          &:hover {
            transform: translateY(-2px);
            filter: brightness(.9);
          }
        }
      }
    }
  }

  .banner-before {
    position: absolute;
    top: -10%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
    width: 100%;
  }

  .banner-after {
    position: absolute;
    bottom: -10%;
    transform: rotate(-180deg) translateY(-50%);
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .content {
    padding-top: 56.25%;
    background: url("@/assets/img/banner.jpeg") center no-repeat;
    background-size: cover;
  }
}
