@import "@/assets/scss/variables";

.main-checklist {
  overflow: hidden;
  padding: 80px 0;
  .mainTitle {
    padding-bottom: 40px;
    .title {
      color: $color-primary;
      text-align: center;
      @include resp-text(45px, 30px, 28px);
      margin-bottom: 0;
    }

    p,
    div {
      @include resp-text(22px, 18px, 18px);
      text-align: center;
      padding-top: 10px;
    }
  }

  .expectation-box {
    border: 1px solid $color-border;
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;

    .img {
      background: #e1ebf8;
      position: relative;
      text-align: center;
      overflow: hidden;
      @include resp-height(auto, 220px !important);

      img {
        width: 100%;
        @include resp-max-width(auto, 300px !important);
        margin: 0 auto;
      }
    }

    .expectation {
      @include resp-padding(70px 70px 15px, 30px 20px !important);

      h3 {
        @include resp-text(30px, 24px !important);
      }

      .description {
        font-size: 16px;
        margin-bottom: 16px;
        display: block;
      }
    }
  }
}
