@import "@/assets/scss/variables";

.group {
  bottom: 50%;
  right: 470px;
  transform: translateY(50%);
  position: fixed;

  button {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #2bb8e1;
  }
}
