.caption {
  max-width: 1097px;
  // font-family: "Plus Jakarta Sans" !important;

  .title {
    font-size: 24px;
    font-weight: 400;
  }

  .content {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
}